
.page-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
  }
  

  .services-page {
    padding: 50px 0;
  }
  
  
  .service-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
 
  .single-service {
    width: calc(33.33% - 20px); 
    margin-bottom: 40px;
    box-sizing: border-box;
    
    
  }
  
  /* .single-service-box img:hover {
    transform: scale(1.1); /* Scale the image by 10% on hover */
    
  
  .single-service:hover{
    border-radius: 20px;
  }
  .single-service-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    text-align: center;
    
  }
  
  .single-service-box img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.5s ease;
  }
  
  .single-service-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .single-service-box a {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
  }

  .single-service:hover{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .single-service-box a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 500px) {
    .single-service {
      width: calc(100% - 20px); 
    }
  }
